# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ELO-FACEMASH/Dopples/Actress_Score/5.txt
ELO-FACEMASH/Dopples/Actress_Score/5.txt
ELO-FACEMASH/Dopples/Actress_Score/4D.txt
ELO-FACEMASH/Dopples/Actress_Score/4.txt
ELO-FACEMASH/Dopples/Actress_Score/2D.txt
ELO-FACEMASH/Dopples/Actress_Score/2.txt
ELO-FACEMASH/Dopples/Actress_Score/1D.txt
ELO-FACEMASH/Dopples/Actress_Score/1.txt
ELO-FACEMASH/Dopples/Counters/6D.txt
ELO-FACEMASH/Dopples/Counters/6.txt
ELO-FACEMASH/Dopples/Counters/5D.txt
ELO-FACEMASH/Dopples/Counters/5.txt
ELO-FACEMASH/Dopples/Counters/6D.txt
ELO-FACEMASH/Dopples/Counters/6.txt
ELO-FACEMASH/Dopples/Counters/5D.txt
ELO-FACEMASH/Dopples/Counters/5D.txt
ELO-FACEMASH/Dopples/Counters/3D.txt
ELO-FACEMASH/Dopples/Counters/3.txt
ELO-FACEMASH/Dopples/Counters/2D.txt
ELO-FACEMASH/Dopples/Counters/2.txt
ELO-FACEMASH/Dopples/Counters/1D.txt
ELO-FACEMASH/Dopples/Counters/1.txt
ELO-FACEMASH/Dopples/Actress_Score/4.txt
ELO-FACEMASH/Dopples/Counters/4D.txt
ELO-FACEMASH/Dopples/Actress_Score/4D.txt
ELO-FACEMASH/Dopples/Actress_Score/1.txt
ELO-FACEMASH/Dopples/Counters/2.txt
ELO-FACEMASH/Dopples/Counters/3.txt
ELO-FACEMASH/Dopples/Counters/3D.txt
ELO-FACEMASH/Dopples/Counters/4.txt
ELO-FACEMASH/Dopples/Counters/5D.txt
ELO-FACEMASH/Dopples/Actress_Score/4D.txt
ELO-FACEMASH/Dopples/Actress_Score/5.txt
ELO-FACEMASH/Dopples/Actress_Score/5D.txt
ELO-FACEMASH/Dopples/Actress_Score/3D.txt
ELO-FACEMASH/Dopples/Actress_Score/3.txt
ELO-FACEMASH/Dopples/Actress_Score/5D.txt
*.txt
ELO-FACEMASH/Dopples/Actress_Score/1.txt
ELO-FACEMASH/Dopples/Actress_Score/1.txt
ELO-FACEMASH/Dopples/Actress_Score/1D.txt
ELO-FACEMASH/Dopples/Actress_Score/2.txt
ELO-FACEMASH/Dopples/Actress_Score/2D.txt
ELO-FACEMASH/Dopples/Actress_Score/3.txt
ELO-FACEMASH/Dopples/Actress_Score/3D.txt
ELO-FACEMASH/Dopples/Actress_Score/4.txt
ELO-FACEMASH/Dopples/Actress_Score/4D.txt
ELO-FACEMASH/Dopples/Actress_Score/5.txt
ELO-FACEMASH/Dopples/Actress_Score/5D.txt
ELO-FACEMASH/Dopples/Actress_Score/6.txt
ELO-FACEMASH/Dopples/Actress_Score/6D.txt
ELO-FACEMASH/Dopples/Counters/1.txt
ELO-FACEMASH/Dopples/Counters/1D.txt
ELO-FACEMASH/Dopples/Counters/2D.txt
ELO-FACEMASH/Dopples/Counters/3.txt
ELO-FACEMASH/Dopples/Counters/3D.txt
ELO-FACEMASH/Dopples/Counters/4.txt
ELO-FACEMASH/Dopples/Counters/5.txt
ELO-FACEMASH/Dopples/Counters/5D.txt
ELO-FACEMASH/Dopples/Counters/6.txt
ELO-FACEMASH/Dopples/Counters/6D.txt
